.cookie-notification {
  padding: 1rem 0 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .cookie-notification__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
    .cookie-notification__container__message {
      color: white;
      flex: 0 1 auto;
      margin: 0 1rem 0 0;
      text-align: center; }
    .cookie-notification__container__button {
      flex: 0 1 auto; }
