.animate {
  transform: translate3d(0, 0, 0); }

@keyframes animStar {
  from {
    transform: translateY(-2000px); }
  to {
    transform: translateY(0px); } }

@keyframes menu-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animate--menu-fade {
  animation: menu-fade .3s ease-in-out forwards; }

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-2rem) scale(2); }
  100% {
    opacity: 1;
    transform: none; } }

.animate--fade-slide-left {
  animation: fade-slide-left 0.8s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  opacity: 0; }

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: none; } }

.animate--fade-slide-down {
  animation-name: fade-slide-down;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes rotate-up {
  100% {
    opacity: 1;
    transform: rotateZ(-4deg); } }

.animate--rotate-up {
  animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  left: -5%;
  position: absolute;
  right: -5%;
  top: 90%;
  transform-origin: 0 0;
  opacity: 0; }

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8); }
  100% {
    opacity: 1;
    transform: none; } }

.animate--pop-in {
  animation-name: pop-in;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0, 0.9, 0.3, 1.2);
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes pop-in-up {
  0% {
    opacity: 0;
    transform: translateY(4rem) scale(0.8); }
  100% {
    opacity: 1;
    transform: none; } }

.animate--pop-in-up {
  animation-name: pop-in-up;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0, 0.9, 0.3, 1.2);
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }

.animate--pulse {
  animation: pulse 1s infinite; }

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(-100%); }
  51% {
    opacity: 1; } }

.animate--to-bottom-from-top {
  animation: toBottomFromTop .2s forwards; }

@keyframes topInBottomOut {
  0% {
    transform: translateY(25px); }
  5% {
    transform: translateY(25px); }
  10% {
    transform: translateY(0px); }
  25% {
    transform: translateY(0px); }
  30% {
    transform: translateY(-25px); }
  100% {
    transform: translateY(-25px); } }

@keyframes topInBottomOutLast {
  0% {
    transform: translateY(25px); }
  5% {
    transform: translateY(25px); }
  10% {
    transform: translateY(0px); }
  30% {
    transform: translateY(0px); }
  100% {
    transform: translateY(0px); } }

.animate--top-in-bottom-out, .list-group-headline .list-group-item {
  animation-name: topInBottomOut;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

.animate--top-in-bottom-out-last, .list-group-headline .list-group-item:nth-child(4) {
  animation-name: topInBottomOutLast;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

.list-group-headline {
  height: 1.5625rem;
  overflow: hidden;
  position: relative; }
  .list-group-headline .list-group-item {
    color: #fff;
    position: absolute;
    text-align: center;
    transform: translateY(25px);
    width: 100%;
    animation-iteration-count: 1; }
    .list-group-headline .list-group-item:nth-child(1) {
      animation-delay: 0s; }
    .list-group-headline .list-group-item:nth-child(2) {
      animation-delay: 1s; }
    .list-group-headline .list-group-item:nth-child(3) {
      animation-delay: 2s; }
    .list-group-headline .list-group-item:nth-child(4) {
      animation-delay: 3s; }
